.og-Container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.og-Content,
.og-Footer {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin: 0 auto;
  min-width: 0;
  max-width: 54rem;
  padding: 2rem var(--gutter);
  width: 100%;
}

.og-Content {
  min-height: 32rem;
}

.og-Footer {
  padding-top: 0;
  margin-bottom: 2.5rem;
  font-size: .875rem;
  gap: .5rem;
}
