.og-Icon {
  width: 2.655rem;
  height: 2.655rem;
  overflow: hidden;
  background-image: url(/assets/og-circle.svg);
  background-size: contain;
  display: inline-block;

  a,
  img {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}
