/* resume page specific */

.ResumeList {
  display: flex;
  flex-flow: column;
  gap: 3.2rem;
  div {
    page-break-inside: avoid;
    break-inside: avoid;
    h2,
    h4,
    p {
      margin: 0;
      padding: 0;
    }
    h3 {
      margin-top: 0;
    }
    h2 {
      margin-bottom: 1rem;
      border-bottom: 0;
    }
    h4 {
      font-weight: normal;
      margin-bottom: 1rem;
    }
    h4 > i {
      font-style: italic;
    }
    hr {
      margin-bottom: 0;
    }
  }
}
