.vscode
terraform/.terraform
public_bucket_policy.json
priv
tmp
scripts
public/*
public/assets/*
!public/*/
!public/images
!public/404.html
!public/assets/og-circle.svg
!public/assets/tango.css
templates/manifest.webmanifest
templates/favicons.html
* copy.*
