.vscode
terraform/.terraform
public_bucket_policy.json
priv
tmp
scripts
public/*
!public/*/
!public/images
!public/assets/tango.css
!public/assets/fontello
public/assets/*
!public/assets/Code_Pro_Demo-webfont.ttf
templates/manifest.webmanifest
templates/favicons.html
