.vscode
terraform/.terraform
public_bucket_policy.json
priv
tmp
scripts
public/*
public/assets/*
!public/*/
!public/images
!public/404.html
!public/assets/og-circle.svg
!public/assets/tango.css
!public/assets/playground.css
!public/assets/playground.js
!public/assets/wasm_exec.js
!public/assets/restache-0.2.0.wasm
templates/manifest.webmanifest
templates/favicons.html
* copy.*
