@import "node_modules/bourbon-neat/core/neat";
@import "node_modules/normalize-scss/sass/normalize";

@include normalize();

$font-family-heading: "IBM Plex Sans", sans-serif;
$font-family-paragraph: "Noto Sans", sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", Courier, "Liberation Mono", monospace;

$gutter-hi: 62px;
$gutter-low: 20px;
$color-white: #fff;
$color-white-2: #fdfdfd;
$color-white-1: #f0f4f5;
$color-bg: $color-white;
$color-crimson-red: #990000;
$color-link: $color-crimson-red;
$color-dark-gray: #111;
$color-text: $color-dark-gray;
$color-gray-4d: #5a5459;
$color-gray-eee: #eee;
$color-gray-ddd: #ddd;
$color-gray-efe: #f1f1f1;
$color-gray-d8d: #d8dde0;
$color-gray-green: #f3fff5;
$color-gray-green-2: #e5f0e7;
$color-green: #a0d0a8;
$color-code-bg: $color-white-2;
$color-code-bg-2: $color-gray-efe;
$color-code-border: $color-gray-d8d;
$color-purple: #d9afff;
$color-light-purple: #fbf6ff;
$color-light-purple-2: #ece8f0;
$color-border: orange;
$color-header-bg: $color-white;
$color-header-link: $color-text;

$default-border-radius: 4px;

$single-col-grid: (
  columns: 1,
  gutter: $gutter-hi,
);

$single-col-grid-low: (
  columns: 1,
  gutter: $gutter-low,
  media: "(max-width: 768px)",
);

$single-col-grid-tablet-up: (
  media: "(min-width: 768px)",
);

$double-col-grid: (
  columns: 2,
  gutter: $gutter-hi,
);

$double-col-no-gutter-grid: (
  columns: 2,
  gutter: 0,
);

$single-col-no-gutter-grid-low: (
  columns: 1,
  gutter: 0,
  media: "(max-width: 768px)",
);

$single-col-centered-width: 74%;

html,
body {
  background-color: $color-bg;
}

a {
  text-decoration: none;
  color: $color-link;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: normal;
  width: 100%;
}

p {
  color: $color-text;
  line-height: 1.64em;
}

iframe {
  border: none;
}

.single-col-grid {
  @include grid-container;

  .col {
    overflow: hidden;
    @include grid-column(1, $single-col-grid);

    .centered {
      margin: 0 auto;
      width: $single-col-centered-width;
    }

    @include grid-media($single-col-grid-low) {
      @include grid-column(1, $single-col-grid-low);
      width: calc(100% - #{$gutter-low * 2});
      .centered {
        margin: none;
        width: 100%;
      }
    }
  }
}

.double-col-grid {
  @include grid-container;

  .col {
    overflow: hidden;
    @include grid-column(1, $double-col-grid);

    .centered {
      margin: 0 auto;
      width: $single-col-centered-width;
    }

    @include grid-media($single-col-grid-low) {
      @include grid-column(1, $single-col-grid-low);
      width: calc(100% - #{$gutter-low * 2});
    }
  }
}

.double-col-no-gutter-grid {
  @include grid-container;

  .col {
    overflow: hidden;
    @include grid-column(1, $double-col-no-gutter-grid);

    @include grid-media($single-col-no-gutter-grid-low) {
      @include grid-column(1, $single-col-no-gutter-grid-low);
      width: 100%;
    }
  }
}

.content {
  padding: 0 0 1em 0;
  display: inline-block;
  width: 100%;
  background-color: $color-bg;
  margin-bottom: 20px;
}

.header {
  overflow: hidden;
  width: 100%;
  padding: 24px 0;
  margin: 0;
  border-bottom: none;
  margin-bottom: 18px;
  background-color: $color-header-bg;

  div {
    width: 100%;
  }

  table {
    border-spacing: 0;
    font-family: $font-family-paragraph;
    font-size: 1.15em;
    line-height: 1.2em;

    b {
      font-weight: normal;
    }

    width: 100%;
    td {
      vertical-align: middle;
      padding: 0;
    }

    td:nth-child(1) {
      span {
        display: inline-block;
        margin-right: 5px;
      }

      @include grid-media($single-col-grid-tablet-up) {
        display: block;
        margin-right: 0;
      }
    }

    td:nth-child(2) {
      font-size: 0.9em;
      font-family: $font-family-heading;
      text-align: right;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          margin: 0;
          padding: 0;
          display: inline-block;
        }

        li:nth-child(2) {
          margin-left: 20px;
        }

        @include grid-media($single-col-grid-tablet-up) {
          li:nth-child(2) {
            margin-left: 40px;
          }
        }
      }
    }
  }

  a {
    color: $color-header-link;

    &:hover {
      text-decoration: underline;
    }
  }

  .author {
    font-family: $font-family-heading;
    a {
      color: $color-header-link;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.index {
  font-family: $font-family-paragraph;

  h1 {
    font-family: $font-family-heading;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  h1 a {
    color: $color-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-link;
    }
  }

  .info {
    margin-bottom: 14px;
    font-size: 0.9em;
    color: $color-gray-4d;
  }

  .body {
    p {
      font-size: 1em;
    }

    p:nth-child(1) {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  .pagination {
    margin-top: 60px !important;
  }

  .entry {
    .preview-frame {
      h1 {
        font-size: 1.1em;
      }
      margin-bottom: 8px;
    }
    margin-bottom: 18px !important;
  }
}

.entry {
  font-family: $font-family-paragraph;

  .info {
    margin-bottom: 14px;
    font-size: 0.9em;
    color: $color-gray-4d;
  }

  h1 {
    font-size: 1.38em;
    font-weight: bold;
    margin-top: 0.46em;
    padding-top: 0.46em;
    margin-bottom: 0.72em;
  }

  .title {
    h1 {
      font-size: 1.6em;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
    }
  }

  h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1.1em;
  }

  h3 {
    font-size: 1em;
    font-weight: bold;
  }

  h4 {
    font-weight: bold;
    font-size: 0.94em;
  }

  p {
    font-family: $font-family-paragraph;

    code {
      font-family: $font-family-monospace;
      font-optical-sizing: auto;
      font-size: 0.9em;
      background-color: $color-code-bg-2;
      color: $color-text;
      padding: .2em .36em;
      border-radius: $default-border-radius;
    }
  }

  blockquote {
    width: 100%;
    border-radius: $default-border-radius;
    padding: 2px 0;
    margin: 14px 0;
    background-color: $color-gray-green;
    border: 1px solid $color-green;
    padding-left: 14px;
    padding-right: 12px;

    p {
      color: $color-text;
      line-height: 1.64em;
    }

    code {
      color: $color-text;
      background-color: $color-gray-green-2;
    }
  }

  blockquote:first-of-type {
    padding-left: 0;
    padding-right: 0;
    background: none;
    border: none;
    margin: 0;

    p {
      color: $color-text;
      font-weight: bold;
      font-family: $font-family-heading;
    }

    code {
      color: $color-text;
    }
  }

  table {
    font-size: 1em;
    width: 100%;
    font-family: $font-family-paragraph;
    color: $color-text;
    border: 1px solid $color-gray-ddd;
    border-right: none;
    padding: 18px 20px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 2em;

    thead {
      background-color: $color-gray-eee;
      font-family: $font-family-paragraph;

      tr th {
        font-size: 0.9em;
        color: $color-text;
        padding: 12px 20px;
        border-right: 1px solid $color-gray-ddd;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      tr th:hover {
        overflow: visible;
        height: auto;
      }
    }

    tbody tr {
      border-top: 1px solid $color-gray-ddd;

      td {
        padding: 14px 20px;
        border-right: 1px solid $color-gray-ddd;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          overflow: visible;
          height: auto;
        }
      }
    }
  }

  code {
    font-family: $font-family-monospace;
    font-optical-sizing: auto;
    font-size: 0.87em;
    background-color: $color-code-bg-2;
    padding: .2em .4em;
    border-radius: $default-border-radius;
    color: $color-text;
  }

  ul li code {
    padding: .2em .36em;
    background-color: $color-code-bg-2;
  }

  pre {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  pre code {
    padding: 1em 1.2em;
    color: $color-text;
    white-space: pre;
    background-color: $color-code-bg;
    border: 1px solid $color-code-border;
    display: block;
    margin: 0;
    overflow-x: scroll;
    line-height: 20px;
    font-family: $font-family-monospace;
    font-optical-sizing: auto;
  }

  .codehilite {
    background-color: $color-code-bg;
    width: 100%;
    border-radius: $default-border-radius;
    padding: 1em 1.2em;
    margin: 10px 0;
    margin-bottom: 20px;
    border: 1px solid $color-code-border;
    overflow: hidden;

    pre code {
      border: none;
      padding: 0;
      overflow-x: scroll;
    }

    .w {
      color: $color-code-bg;
      text-decoration: underline;
    }
  }

  ul {
    margin-top: 0;
    margin-bottom: .5em;
  }

  ul li {
    padding: 0.15em 0;
  }

  ul,
  ul li {
    line-height: 1.64em;
  }

  ul li ul {
    margin-bottom: 0;
  }

  .footnotes {
    margin-top: 20px;
    font-size: .9em;
    width: 100%;

    hr {
      border: 0;
      border-top: 1px solid #d8dee4;
    }

    .footnoteBackLink {
      color: green;
      font-weight: bold;
    }
  }

  .body {
    .i-60 {
      width: 60%;
    }

    .i-50 {
      width: 50%;
    }

    .i-40 {
      width: 40%;
    }

    .ta-center {
      text-align: center;
    }

    display: flex;
    flex-wrap: wrap;

    p {
      width: 100%;
      margin: .5em 0;
      height: fit-content;
    }

    pre {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 12px;
    }

    .codehilite {
      margin-bottom: 12px;

      pre code {
        padding: 0;
        margin: 0;
        line-height: 1.3em;
      }

      pre {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    h1 {
      margin-bottom: 5px;
    }

    h2 {
      margin-top: 0.38em;
      padding-top: 0.38em;
      margin-bottom: 0.4em;
    }

    h3 {
      margin: 12px 0 8px 0;
    }

    h4 {
      margin-top: 12px;
      margin-bottom: 6px;
    }

    h1,
    h2 {
      padding-bottom: 0.32em;
      border-bottom: 1px solid #d8dee4;
    }
  }
}

.resizeable-widget {
  box-sizing: border-box;
  width: 100%;
  height: 407px;
  min-height: 344px;
  padding: 12px 0;
  padding-bottom: 0;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  iframe {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.resize-handle {
  height: 5px;
  width: 50px;
  background-color: $color-border;
  margin: 0 auto;
  margin-top: -1px;
  position: relative;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  pointer-events: none;
}

.entry p a code {
  color: $color-link;
}

.tag-title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $color-gray-4d;
  font-size: 0.9em;
}

math {
  display: block;
  margin-bottom: 14px;
  font-size: larger;
}

.index {
  h1,
  h2 {
    padding-bottom: auto;
    border: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul li {
  color: $color-text;
}

h1,
h2 {
  .bookmark {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(31, 35, 40)' %3E%3Cpath d='m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    display: none;
    margin-left: 6px;
    color: $color-text;
  }

  &:hover {
    .bookmark {
      display: inline-block;
    }
  }
}

.title h1 {
  padding-top: 0;
}

blockquote.note {
  border-color: $color-purple;
  background-color: $color-light-purple;
  p code {
    background-color: $color-light-purple-2;
  }
}
