@use 'scss/reset';
@use 'scss/vars';
@use 'scss/system';
@use 'scss/util';
@use 'scss/playground';
@use 'scss/index';
@use 'scss/resume';
@use 'scss/tango';
@use 'scss/entry';
@use 'scss/navbar';
@use 'scss/icon';
@use 'scss/container';

// overrides

.resume-Content,
.index-Content {
  gap: 2.5rem;

  .og-Entry {
    page-break-inside: avoid;
    break-inside: avoid;

    .og-Entry__title {
      font-size: 1.2em;
    }
  }
}

@media print {
  .resume-Content .og-WelcomeBanner ul li:not(:last-child)::after {
    content: " ";
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 30rem) {
  .resume-Content .og-WelcomeBanner ul li {
    display: block;
  }

  .resume-Content .og-WelcomeBanner ul li:not(:last-child)::after {
    content: none;
  }
}

.tag-Content {
  gap: 2.675rem;
}

.tag-Content__title {
  margin-top: 0.8rem;
}

.tag-Content__divider {
  margin: 1.42rem 0 0 0;
}

.entry-Content {
  grid-area: content;
  gap: 4rem;
}

.entry-Content ul {
  overflow-wrap: break-word;
}

.navbar-Wrapper {
  padding: 0;
  margin: 0;
  grid-template-columns: 100%;

  .og-Content {
    max-width: 100%;
  }
}

@media screen and (min-width: 48rem) {
  .navbar-Wrapper {
    margin: 0 auto;
    grid-template-areas: "LeftNav-sidebar content";
    grid-template-columns: 16rem 1fr;

    .LeftNav-sidebar {
      display: block;
      padding-left: var(--gutter);
      padding-right: 0.25rem;
    }

    .og-Content {
      padding: 2rem 0;
      padding-right: var(--gutter);

      .og-Icon,
      .og-Avatar {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 65rem) {
  html {
    font-size: 16px;
  }

  .LeftNav a {
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
  }

  .navbar-Wrapper {
    grid-template-columns: 16rem 1fr;
  }
}

@media screen and (min-width: 71rem) {
  .navbar-Wrapper {
    grid-template-columns: 16rem 54rem;
  }
}
