@import "node_modules/bourbon-neat/core/neat";
@import "node_modules/normalize-scss/sass/normalize";

@include normalize();

$gutter-hi: 62px;
$gutter-low: 20px;

$single-col-grid: (
  columns: 1,
  gutter: $gutter-hi,
);

$single-col-grid-low: (
  columns: 1,
  gutter: $gutter-low,
  media: "(max-width: 768px)",
);

$single-col-grid-tablet-up: (
  media: "(min-width: 768px)",
);

$double-col-grid: (
  columns: 2,
  gutter: $gutter-hi,
);

$double-col-no-gutter-grid: (
  columns: 2,
  gutter: 0,
);

$single-col-no-gutter-grid-low: (
  columns: 1,
  gutter: 0,
  media: "(max-width: 768px)",
);

$single-col-centered-width: 74%;

html,
body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #0000da;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  width: 100%;
}

p {
  color: #1f2328;
  line-height: 1.56em;
}

iframe {
  border: none;
}

.single-col-grid {
  @include grid-container;

  .col {
    overflow: hidden;
    @include grid-column(1, $single-col-grid);

    .centered {
      margin: 0 auto;
      width: $single-col-centered-width;
    }

    @include grid-media($single-col-grid-low) {
      @include grid-column(1, $single-col-grid-low);
      width: calc(100% - #{$gutter-low * 2});
      .centered {
        margin: none;
        width: 100%;
      }
    }
  }
}

.double-col-grid {
  @include grid-container;

  .col {
    overflow: hidden;
    @include grid-column(1, $double-col-grid);

    .centered {
      margin: 0 auto;
      width: $single-col-centered-width;
    }

    @include grid-media($single-col-grid-low) {
      @include grid-column(1, $single-col-grid-low);
      width: calc(100% - #{$gutter-low * 2});
    }
  }
}

.double-col-no-gutter-grid {
  @include grid-container;

  .col {
    overflow: hidden;
    @include grid-column(1, $double-col-no-gutter-grid);

    @include grid-media($single-col-no-gutter-grid-low) {
      @include grid-column(1, $single-col-no-gutter-grid-low);
      width: 100%;
    }
  }
}

.content {
  padding: 0 0 1em 0;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
}

.header {
  overflow: hidden;
  width: 100%;
  padding: 24px 0px 20px 0px;
  margin: 0px;

  div {
    width: 100%;
  }

  table {
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    line-height: 1.2em;

    b {
      font-weight: normal;
    }

    width: 100%;
    td {
      vertical-align: middle;
      padding: 0;
    }
    td:nth-child(1) {
      span {
        display: inline-block;
        margin-right: 5px;
      }
      @include grid-media($single-col-grid-tablet-up) {
        display: block;
        margin-right: 0;
      }
    }
    td:nth-child(2) {
      font-size: 0.85em;
      text-align: right;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          margin: 0;
          padding: 0;
          display: inline-block;
        }
        li:nth-child(2) {
          margin-left: 20px;
        }

        @include grid-media($single-col-grid-tablet-up) {
          li:nth-child(2) {
            margin-left: 40px;
          }
        }
      }
    }
  }

  .author {
    a {
      color: #1f2328;
    }
  }
}


.index {
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  .info {
    margin-bottom: 14px;
    font-size: 0.88em;
    color: #4d5156;
  }
  .body {
    p {
      font-size: 1em;
    }
    p:nth-child(1) {
      margin-top: 0;
      margin-bottom: 10px;
    }
    p:nth-child(2) {
      margin-top: 0;
      padding-top: 0;
    }
  }
  .pagination {
    margin-top: 60px !important;
  }

  .entry {
    border-bottom: 1px solid #d8dee4;
    .preview-frame {
      h1 {
        font-weight: normal;
        font-size: 1.1em;
      }
      margin-bottom: 8px;
    }
    margin-bottom: 18px !important;
  }
}

.entry {
  font-family: Arial, Helvetica, sans-serif;
  .info {
    margin-bottom: 14px;
    font-size: 0.88em;
    color: #4d5156;
  }
  h1 {
    font-size: 1.38em;
    font-weight: bold;
    margin-top: 0.46em;
    padding-top: 0.46em;
    margin-bottom: 0.72em;
  }
  .title {
    h1 {
      font-size: 1.4em;
      font-weight: normal;
      margin-top: 0.4em;
      margin-bottom: 0.7em;
    }
  }
  h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1.1em;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;

  }
  h4 {
    font-weight: bold;
    font-size: 0.94em;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    code {
      font-family: Menlo, Monaco, Consolas, "Courier New", Courier, monospace;
      font-size: 0.9em;
      background-color: #afb8c133;
      color: #1f2328;
      padding: .2em .36em;
      border-radius: 4px;
    }
  }
  blockquote {
    width: 100%;
    border-radius: 0px;
    padding: 2px 0px 2px 0px;
    margin-left: 0px;
    margin-right: 0;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #f3fff5;
    border-left: 4px solid #25bd48;
    padding-left: 14px;
    padding-right: 12px;
    border-right: 0;
    p {
      color: #1f2328;
      line-height: 1.52em;
    }
    code {
      color: #1f2328;
    }
  }
  blockquote:first-of-type {
    border: 1px solid #d9afff;
    padding-left: 0;
    padding-right: 0;
    background: none;
    border-left: 0;
    border-right: 0;
    p {
      color: #8f00c0;
    }
    code {
      color: #8f00c0;
    }
  }

  table {
    font-size: 1em;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    border: 1px solid #ddd;
    border-right: none;
    padding: 18px 20px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 2em;
    thead {
      background-color: #eee;
      font-family: Arial, Helvetica, sans-serif;
      tr th {
        font-size: 0.9em;
        color: #111;
        padding: 12px 20px;
        border-right: 1px solid #ddd;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      tr th:hover {
        overflow: visible;
        height: auto;
      }
    }
    tbody tr {
      border-top: 1px solid #ddd;
      td {
        padding: 14px 20px;
        border-right: 1px solid #ddd;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      td:hover {
        overflow: visible;
        height: auto;
      }
    }
  }

  code {
    font-family: Menlo, Monaco, Consolas, "Courier New", Courier, monospace;
    font-size: 0.87em;
    background-color: #afb8c133;
    padding: .2em .4em;
    border-radius: 4px;
    color: #1f2328;
  }

  ul li code {
    padding: .2em .36em;
  }

  pre {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  pre code {
    padding: 1em 1.2em;
    color: #1f2328;
    white-space: pre;
    background-color: #f6f8fa;
    display: block;
    margin: 0;
    overflow-x: scroll;
    line-height: 1.4em;
    font-family: Menlo, Monaco, Consolas, "Courier New", Courier, monospace;
    font-size: 0.92em;
  }

  .codehilite {
    width: 100%;
    border-radius: 4px;
    padding: 1em 1.2em;
    margin: 10px 0px;
    margin-bottom: 20px;
    pre code {
      border: none;
      padding: 0;
    }
  }

  ul {
    margin-top: .2em;
    margin-bottom: .5em;
    width: 100%;
  }

  ul li {
    padding: 0.15em 0;
  }

  ul,
  ul li {
    line-height: 1.56em;
  }

  ul li ul {
    font-size: initial;
    margin-bottom: 0.2em;
  }
  .footnotes {
    margin-top: 20px;
    font-size: .9em;
    width: 100%;
    hr {
      border: 0;
      border-top: 1px solid #d8dee4;
    }
    .footnoteBackLink {
      color: green;
      font-weight: bold;
    }
  }
  .body {
    .i-60 {
      width: 60%;
    }
    .i-50 {
      width: 50%;
    }
    .i-40 {
      width: 40%;
    }
    .ta-center {
      text-align: center;
    }
    display: flex;
    flex-wrap: wrap;
    p {
      width: 100%;
      margin: .5em 0;
      height: fit-content;
    }
    pre {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 12px;
    }
    .codehilite {
      margin-bottom: 12px;
      pre code {
        padding: 0;
        margin: 0;
      }
      pre {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    h1 {
      margin-bottom: 5px;
    }
    h2 {
      margin-top: 0.38em;
      padding-top: 0.38em;
      margin-bottom: 0.4em;
    }
    h3 {
      margin: 12px 0 8px 0;
    }
    h4 {
      margin-top: 12px;
      margin-bottom: 6px;
    }

    h1,
    h2 {
      padding-bottom: 0.32em;
      border-bottom: 1px solid #d8dee4;
    }

  }
}

.resizeable-widget {
  box-sizing: border-box;
  width: 100%;
  height: 407px;
  min-height: 344px;
  padding: 12px 0px;
  padding-bottom: 0;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  iframe {
      position: relative;
      width: 100%;
      height: 100%;
  }
}

.resize-handle {
  height: 5px;
  width: 50px;
  background-color: orange;
  margin: 0 auto;
  margin-top: -1px;
  position: relative;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  pointer-events: none;
}

.entry p a code {
  color: #0000da;
}

.tag-title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4d5156;
  font-size: 14px;
}

math {
  display:block math;
  margin-bottom: 14px;
  font-size: larger;
}

.index {
  h1,
  h2 {
    padding-bottom: auto;
    border: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6, li, ul li {
  color: #1f2328;
}

h1, h2 {
  .bookmark {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(31, 35, 40)' %3E%3Cpath d='m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    display: none;
    margin-left: 6px;
    color: #1f2328;
  }
  &:hover {
    .bookmark {
      display: inline-block;
    }
  }
}

.title h1 {
  padding-top: 0;
}

blockquote.note {
  border-color: #d9afff;
  background-color: #fbf6ff;
}
