{% extends "base.html" %}

{% block content %}
	<div class="double-col-grid content">
		<div class="col">
			<img src="/images/s925r7axhmr61.jpg" />
		</div>
		<div class="col">
			<div class="entry" id="about">
        <div class="body">
					<p>Welcome to my personal blog. I'm Onur Gündüz, a computer programmer based in Rotterdam, Netherlands.</p>
					<p>I started this blog because writing challenges me to engage with topics on a deeper level than casual reading or coding does. You can find my experiments on my <a href="https://www.github.com/onur1" target="_blank">GitHub</a> page.</p>
					<p>The opinions expressed here are my own.</p>
					<h3>Contact</h3>
					<p>For inquiries or feedback, feel free to<a href="mailto:ogunduz@gmail.com">email me</a> or connect with me on <a href="https://www.linkedin.com/in/onurgunduz" target="_blank">LinkedIn</a>.</p>
        </div>
			</div>
		</div>
	</div>
{% end %}

{% block title %}About — {{ settings.title }}{% end %}

{% block head_description %}
{% set title = "About " + settings.domain %}
{% set description = settings.description %}
<meta name="title" content="{{ title }}" />
<meta name="description" content="{{ description }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
{% end %}

{% block head_extras %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "AboutPage",
		"url": "https://{{ settings.domain }}",
		"name": "{{ settings.author_name }}'s website",
		"description": "The personal website of {{ settings.author_name }}"
	}
</script>
{% end %}
