{% extends "base.html" %}

{% block content %}
	<div class="double-col-grid content">
		<div class="col" style="text-align: center">
			<img src="/images/ogu.jpg" />
		</div>
		<div class="col">
			<div class="entry" id="about">
				<div class="body">
					<p>Hi, I'm Onur Gündüz, a programmer based in Rotterdam, Netherlands. I started this blog to explore topics beyond everyday coding and to deepen my understanding by writing about them. You can also find some of my experiments on <a href="https://www.github.com/onur1" target="_blank">GitHub</a>.</p>
					<h3>Contact</h3>
					<p>For questions or feedback, feel free to send me an <a href="mailto:ogunduz@gmail.com">email</a> or connect on <a href="https://www.linkedin.com/in/onurgunduz" target="_blank">LinkedIn</a>.</p>
				</div>
			</div>
		</div>
	</div>
{% end %}

{% block title %}About - {{ settings.title }}{% end %}

{% block head_description %}
{% set title = "About " + settings.domain %}
{% set description = settings.description %}
<meta name="title" content="{{ title }}" />
<meta name="description" content="{{ description }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
{% end %}

{% block head_extras %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "AboutPage",
		"url": "https://{{ settings.domain }}",
		"name": "{{ settings.author_name }}'s website",
		"description": "The personal website of {{ settings.author_name }}"
	}
</script>
{% end %}
