<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ settings.title }}{% end %}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link crossorigin rel="preload" as="font" href="/assets/fontello/font/fontello.woff2?99604938">
  <link crossorigin rel="preload" as="font" href="/assets/Code_Pro_Demo-webfont.woff">
  <link crossorigin rel="preload" as="font" href="/assets/proxima-nova-bold.woff">
  <link crossorigin rel="preload" as="font" href="/assets/proxima-nova-regular.woff">
  <link crossorigin rel="preload" as="font" href="/assets/proxima-nova-semibold.woff">
  <link crossorigin rel="preload" as="font" href="/assets/proxima-nova-italic.woff">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow" />
  {% block head_alternate %}
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ settings.title }}"/>
  {% end %}
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{ settings.domain }} Search"/>
  {% block head_extra %}
  <meta name="title" content="{{ settings.title }}" />
  <meta name="description" content="{{ settings.description }}" />
  {% end %}
  {% block head_pagination %}{% end %}
  {% include "favicons.html" %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ settings.author }}" />
  <meta name="twitter:creator" content="{{ settings.author }}" />
  <meta property="og:type" content="website" />
  <meta
    property="og:title"
    content="{{ settings.title }}"
  />
  <meta
    property="og:description"
    content="{{ settings.description }}"
  />
  <!-- TODO <meta
    property="og:image"
    content="https://somebigimage.png"
  /> -->
  <meta property="og:site_name" content="{{ settings.site_name }}" />
  <meta property="author" content="{{ settings.author_name }}" />
  <meta property="keywords" content="" />
  <link href="/assets/tango.css" type="text/css" rel="stylesheet">
  <link href="/assets/fontello/css/fontello.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="all" href="/assets/styles.css" />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "{{ settings.domain }}",
      "email": "{{ settings.email }}",
      "url": "https://{{ settings.domain }}",
      "sameAs": ["https://twitter.com/{{ settings.author }}"]
    }
  </script>
</head>

<body class="{% block body_class %}{% end %}">
  <div class="header">
    <div class="social">
      <ul>
        {% for link in settings.links %}
        <li><a aria-label="{{ link['label'] }}" href="{{ link['url'] }}" target="_blank"><i class="icon {{ link['icon'] }}"></i></a></li>
        {% end %}
      </ul>
    </div>
  </div>

  {% block content %}{% end %}

  <div class="footer single-col-grid">
    <div class="col about">
      <table>
        <tr>
          <td>
            <p>2023 &mdash; <a href="mailto:{{ settings.email }}">{{ settings.author_name }}</a></p>
          </td>
          <td>
            <p><a href="/">Index</a></p>
          </td>
        </tr>
      </table>
    </div>
  </div>

{% if not debug %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ settings.ga_id }}', 'auto');
  ga('send', 'pageview');
</script>
{% end %}
{% block bottom %}{% end %}
</body>
</html>
