{% block extra_class %}{% end %}

{% extends "entries.html" %}

{% block title %}{{ escape(entries[0]['title']) }} &mdash; {{ settings['title'] }}{% end %}

{% block above_body %}
<div class="single-col-grid">
    <div class="col">
        <div class="above-body">
            <a href="/">home</a>
        </div>
    </div>
</div>
{% end %}

{% block above_content %}{% end %}
{% block below_content %}{% end %}

{% block head_extra %}
<meta name="title" content="{{ escape(entries[0]['title']) }} - {{ settings['title'] }}" />
<meta name="description" content="{{ escape(entries[0]['title']) }}" />
{% end %}

{% block bottom %}
	{% if len(entries) > 0 %}
		{% if  settings['comments'] %}
			{% if debug %}
			<script type="text/javascript">
				var disqus_developer = true;
			</script>
			{% end %}
			<script src="//disqus.com/forums/onurgunduzcom/embed.js" type="text/javascript"></script>
		{% end %}
	{% end %}
{% end %}
