
{% block body_class %}{% end %}

{% extends "entries.html" %}

{% block above_body %}
    <div class="col">
        <div class="above-body">
            <a href="/">Home</a>
        </div>
    </div>
{% end %}

{% block above_content %}{% end %}
{% block below_content %}{% end %}
{% block head_pagination %}{% end %}

{% if len(entries) > 0 %}
{% block head_image %}
<meta property="og:image" content="https://{{ settings.domain }}/{{ entries[0].slug }}.png" />
<meta property="og:image:alt" content="{{ entries[0].short_description }}" />
<meta name="twitter:image" content="https://{{ settings.domain }}/{{ entries[0].slug }}.png" />
<meta name="twitter:image:alt" content="{{ entries[0].short_description }}" />
{% end %}
{% end %}
{% end %}

{% block bottom %}
	{% if len(entries) > 0 %}
		{% if  settings.comments %}
			{% if debug %}
			<script type="text/javascript">
				var disqus_developer = true;
			</script>
			{% end %}
			<script src="//disqus.com/forums/onurgunduzcom/embed.js" type="text/javascript"></script>
		{% end %}
	{% end %}
{% end %}
