{% block title %}{{ str(page)+' — ' if page!=1 else '' }}{{ settings.title }}{% end %}

{% block body_class %}home{% end %}

{% extends "base.html" %}

{% block content %}

<div class="single-col-grid content" id="posts">
	<div class="col">
		{% for entry in entries %}
		<div class="centered entry" id="e-{{ entry.slug }}">

			<div class="title">
				<h1><a href="/{{ entry.slug }}.html">{{ entry.title }}</a></h1>
			</div>

			<div class="info">
				{{ locale.format_date(entry.published, full_format=True, shorter=True) }}
				{% if entry.tags %} &middot; {{ locale.list(['<a href="/%(tag)s.html">%(escaped_tag)s</a>' % {"tag": url_escape(tag), "escaped_tag": escape(tag)} for tag in sorted(entry.tags)]) }}{% end %}
			</div>

			<div class="body">{{ entry.body }}</div>

			{% if settings.comments %}
			<div class="discussion">
				<div id="disqus_thread"></div>
			</div>
			{% end %}

		</div>
		{% end %}

    {% block below_content %}
			{% if page > 1 or more %}
				<div class="centered entry pagination">
					{% if page > 1 %}
						<a href="/{{ (page-1)+'.html' if page!=2 else '' }}">← Newer</a>
						{% end %}
						{% if more %}
						<a href="/{{ page+1 }}.html">Older →</a>
					{% end %}
				</div>
			{% end %}
  	{% end %}

	</div>
</div>
{% end %}

{% block head_pagination %}
	{% if page > 1 %}
	<link rel="prev" href="https://{{ settings.domain }}/{{ (page-1)+'.html' if page!=2 else '' }}" />
	{% end %}
	{% if more %}
	<link rel="next" href="https://{{ settings.domain }}/{{ page + 1 }}.html" />
	{% end %}
{% end %}
