{% extends "base.html" %}

{% block content %}
	<div class="single-col-grid content index">
		<div class="col">
			{% for entry in entries %}
				<div class="centered entry" id="e-{{ entry.slug }}">
					<h1><a href="/{{ entry.slug }}.html">{{ entry.title }}</a></h1>
					<div class="info">{{ locale.format_date(entry.published, full_format=True, shorter=True) }}{% if entry.tags %} &mdash; {{ locale.list(['<a href="/%(tag)s.html">%(escaped_tag)s</a>' % {"tag": url_escape(tag), "escaped_tag": escape(tag)} for tag in sorted(entry.tags)]) }}{% end %}</div>
					<div class="body">
						<p>{{ entry.description }}</p>
						<p><a href="/{{ entry.slug }}.html">Read more</a></p>
					</div>
				</div>
			{% end %}
			{% if page > 1 or more %}
			<div class="centered entry pagination">
				{% if page > 1 %}
					<a href="/{{ (page-1)+'.html' if page!=2 else '' }}">← Newer</a>
					{% end %}
					{% if more %}
					<a href="/{{ page+1 }}.html">Older →</a>
				{% end %}
			</div>
		{% end %}
		</div>
	</div>
{% end %}

{% block title %}{{ str(page)+' — ' if page!=1 else '' }}{{ settings.title }}{% end %}

{% include "pagination.html" %}

{% block head_canonical %}
<meta property="og:url" content="https://{{ settings.domain }}{{ '/' + str(page) + '.html' if page!=1 else '' }}">
<link rel="canonical" href="https://{{ settings.domain }}{{ '/' + str(page) + '.html' if page!=1 else '' }}">
{% end %}

{% block head_extras %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Blog",
		"url": "https://{{ settings.domain }}",
		"name": "{{ settings.title }}",
		"description": "{{ settings.description }}",
		"author": [
			{
				"@type": "Person",
				"name": "{{ settings.author_name }}",
				"email": "{{ settings.email }}",
				"url": "https://{{ settings.domain }}",
				"sameAs": ["https://twitter.com/{{ settings.author }}"]
			}
		]
	}
</script>
{% end %}
