{% extends "base.html" %}

{% block content %}
	<div class="single-col-grid content tags">
		<div class="col">
			<div class="above-body">
				<div class="home"><a href="/">Home</a></div>
				<a href="/{{_tag}}.html">{{ 'Posts tagged with ' + _tag }}</a>
			</div>
		</div>
		<div class="col">
			{% for entry in entries %}
			<div class="centered entry" id="e-{{ entry.slug }}">
				<h1><a href="/{{ entry.slug }}.html">{{ entry.title }}</a></h1>
				<div class="info">{{ locale.format_date(entry.published, full_format=True, shorter=True) }}{% if entry.tags %} &mdash; {{ locale.list(['<a href="/%(tag)s.html">%(escaped_tag)s</a>' % {"tag": url_escape(tag), "escaped_tag": escape(tag)} for tag in sorted(entry.tags)]) }}{% end %}</div>
			</div>
			{% end %}
		</div>
	</div>
{% end %}

{% block title %}{{ _tag }} — {{ settings.title }}{% end %}

{% block head_alternate %}
<link rel="alternate" href="/{{ _tag }}.xml" type="application/atom+xml" title="{{ _tag }} — {{ settings.title }}"/>
{% end %}

{% block head_canonical %}
<meta property="og:url" content="https://{{ settings.domain }}/{{ _tag }}.html">
<link rel="canonical" href="https://{{ settings.domain }}/{{ _tag }}.html">
{% end %}

{% block head_description %}
{% set title = _tag %}
{% set description = "Posts tagged with " + _tag + " on " + settings.domain %}
<meta name="title" content="{{ title }}" />
<meta name="description" content="{{ description }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
{% end %}
