{% extends "base.html" %}

{% block content %}
<div class="og-Content tag-Content">
  <div class="og-Avatar"><a href="/"></a></div>
  <div class="tag-Content__title">
    Posts tagged with <a href="/{{_tag}}.html"><b>{{ _tag }}</b></a>
    <hr class="tag-Content__divider" />
  </div>
  <div class="og-EntryList">
    {% for entry in entries %}
    <div class="og-Entry" id="e-{{ entry.slug }}">
      <h1 class="og-Entry__title"><a href="/{{ entry.slug }}.html">{{ entry.title }}</a></h1>
      <ul class="og-Entry__metadata horizontal-list">
        <li>{{ locale.format_date(entry.published, full_format=True, shorter=True) }}</li>
        {% if entry.tags %}<li>{{ locale.list(['<a href="/%(tag)s.html">%(escaped_tag)s</a>' % {"tag": url_escape(tag), "escaped_tag": escape(tag)} for tag in sorted(entry.tags)]) }}</li>{% end %}
      </ul>
    </div>
    {% end %}
  </div>
</div>
{% end %}

{% block title %}{{ _tag }} - {{ settings.title }}{% end %}

{% block head_alternate %}<link rel="alternate" href="/{{ _tag }}.xml" type="application/atom+xml" title="{{ _tag }} - {{ settings.title }}"/>
{% end %}

{% block head_canonical %}
<meta property="og:url" content="https://{{ settings.domain }}/{{ _tag }}.html">
<link rel="canonical" href="https://{{ settings.domain }}/{{ _tag }}.html">
{% end %}

{% block head_description %}
{% set title = _tag %}
{% set description = "Posts tagged with " + _tag + " on " + settings.domain %}
<meta name="title" content="{{ title }}" />
<meta name="description" content="{{ description }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
{% end %}
